{% extends "base.html" %}
{% block title %}Olvidé mi contraseña{% endblock %}
{% block content_top %}
  <div class="bg-light p-3 rounded mb-4">
    <h1 class="m-0">Restablecer contraseña</h1>
  </div>
{% endblock %}
{% block content %}
<div class="container">
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="mb-3">
      <label class="form-label">Correo</label>
      <input name="email" type="email" class="form-control" required>
    </div>
    <button class="btn btn-primary">Enviar enlace</button>
  </form>
</div>
{% endblock %}
